body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    font-size: 16px;
}

/*header*/

.header {
    display: flex;
    height: 600px;
}


.header .banner {
    max-width: 70%;
    padding-top: 250px;
    padding-left: 10px;
    box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    .header {
        display: block;
        height:auto;
    }

    .header .banner {
        max-width: 100%;
        padding: 35% 10%;
        box-sizing: border-box;
        margin-top: 20%;
    }
}


.head {
    font-size: 4rem;
    font-weight: 700;
    color: lightgray;
    padding: 5px;
}

@media only screen and (max-width: 768px) {
    .head{
        font-size: 2rem;
    }
}

.subhead {
    font-size: 2rem;
    font-weight: 300;
    padding: 5px;
    word-wrap: break-word;
    color: lightgray;
}

@media only screen and (max-width: 768px) {
    .subhead{
        font-size: 1.5rem;
    }
}

.arrow {
    display: block;
    text-align: left;
    padding-left: 30%;
    margin: 70px 0;
}

@media only screen and (max-width: 768px) {
    .arrow {
        padding-left: 10%;
        margin-top: 0;
    }
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

.fa-arrow-down {
    color: white;
    font-size: 2rem;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

/*General*/

.code {
    display: flex;
}

.number {
    width: 30%;
    font-size: 7rem;
    font-weight: 700;
    text-align: end;
    padding-right: 20px;
    color: rgba(255, 186, 186, 0.2);
    box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
    .code {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .number {
        width: 100%;
        font-size: 8rem;
        display: block;
        text-align: start;
        padding: 0 10%;
    }
}


.title {
    font-size: 4rem;
    font-weight: 700;
    color: rgb(255, 186, 186);
    padding-top: 41px;
    padding-left: 10px;
    align-content: center;
}

@media only screen and (max-width: 768px) {
    .title {
        font-size: 4rem;
        font-weight: 700;
        padding: 7% 10%;
        color: rgb(255, 186, 186);
    }
}

@media only screen and (max-width: 768px) {
    span {
        font-size: 2rem;
    }
}

.projects {
    display: flex;
    height: auto;
    padding-bottom: 30px;
}

@media only screen and (max-width: 768px) {
    .projects {
        display: block;
        padding-bottom: 30px;
    }
}

.projects .details {
    max-width: 50%;
    /*display: block;*/
    padding-bottom: 40px;
    padding-top: 20px;
}

@media only screen and (max-width: 768px) {
    .projects .details {
        max-width: 100%;
    !important;
        padding: 10%;
    }
}

.projects .banner {
    padding-bottom: 50px;
    padding-left: 10px;
}

@media only screen and (max-width: 768px) {
    .projects .banner {
        padding-bottom: 50px;
        padding-left: 0;
    !important;
    }
}

.projects .subhead {
    color: rgb(255, 186, 186);
    font-size: 1.5rem;
    line-height: 2rem;
}

/*Code Section*/
.icode .projects .banner .stack {
    font-size: 1.2rem;
    font-weight: 500;
}

.icode .projects .banner .fa-github {
    color: rgba(255, 186, 186, 0.4);
    font-size: 1.4rem;
    margin-left: 10px;
}

.icode .projects .banner .subhead a {
    color: rgb(255, 186, 186);
    font-weight: 700;
    font-size: 2rem;
    text-decoration: none;
}

.icode .projects .banner .subhead .name {
    font-weight: 700;
    font-size: 2rem;
}


/*Cook Section*/
.icook .number {
    color: rgba(253, 231, 168, 0.2);
}

.icook .title {
    color: rgb(253, 231, 168);
}

.icook .subhead {
    /*border: 1px solid white;*/
    color: rgb(253, 231, 168);
}

.icook .projects .banner {
    /*border: 1px solid white;*/
    padding-bottom: 0;
}

.wrapper {
    /*border: 1px solid white;*/
    padding: 30px 14px;
    width: 90%;
}

@media only screen and (max-width: 768px) {
    .wrapper {
        /*border: 1px solid white;*/
        padding: 0;
        width: 100%;
    }
}

.wrapper div.gallery img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.wrapper div.desc {
    /*border: 1px solid white;*/
    padding-top: 5px;
    text-align: left;
    color: rgb(253, 231, 168);
    font-size: 1rem;
    font-weight: 300;
}

* {
    box-sizing: border-box;
}

.wrapper .responsive {
    /*border: 1px solid white;*/
    padding-right: 25px;
    padding-bottom: 25px;
    float: left;
    width: 49.99999%;
}

@media only screen and (max-width: 1000px) {
    .wrapper .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 800px) {
    .wrapper .responsive {
        width: 100%;
    }
}

.wrapper .clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*Write Section*/
.iwrite .number {
    color: rgba(199, 254, 209, 0.2);
}

.iwrite .title {
    color: rgb(199, 254, 209);
}

.iwrite .banner {
    color: rgb(199, 254, 209);
    border: 0.5px solid rgba(199, 254, 209, 0.4);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 50px;
}

.iwrite .subhead {
    color: rgb(199, 254, 209);
}

.iwrite .projects .banner .heading {
    font-weight: 700;
}


.iwrite .projects a {
    color: rgb(199, 254, 209);
    font-size: 1.5rem;
    text-decoration: none;
}

.iwrite .projects .details {
    padding: 5px;
!important;
    margin-top: 25px;
}

@media only screen and (max-width: 768px) {
    .iwrite .projects .details {
        max-width: 100%;
        padding: 10%;
    }
}

.iwrite .projects .all {
    color: rgb(199, 254, 209);
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 300;
}

.iwrite .projects .all .fas {
    color: rgb(199, 254, 209);
    font-size: 1rem;
    margin-left: 5px;
}

/*Dream*/
.idream .number {
    color: rgba(186, 255, 236, 0.2);
}

.idream .title {
    color: rgb(186, 255, 236);
}

.idream .subhead {
    color: rgb(186, 255, 236);
}

/*Journey Section*/
.myjourney .number {
    color: rgba(186, 235, 255, 0.2);
}

.myjourney .title {
    color: rgb(186, 235, 255);
}

.myjourney .subhead {
    color: rgb(186, 235, 255);
}

.myjourney .desc {
    color: rgba(186, 235, 255, 0.5);
    font-size: 1.5rem;
    width: 90%;
    font-weight: 300;
    padding: 5px;
    word-wrap: break-word;
}

/*Social Section*/
.isocial .number {
    color: rgba(249, 202, 255, 0.2);
}

.isocial .title {
    color: rgb(249, 202, 255);
}

@media only screen and (max-width: 768px) {
    .isocial .code .title span {
       visibility: hidden;
    }
}

.isocial .subhead {
    color: rgb(249, 202, 255);
    width: auto;
!important;
}

.isocial .subhead a {
    margin: 0 10px 10px 0;
    color: rgb(249, 202, 255);
    font-size: 1.7rem;
}

.isocial .subhead .fab {
    padding: 5px 5px;
}



.isocial .projects .banner {
    padding-left: 0;
}